/* @override http://localhost/walkingtheelderly/trunk/www/styles.css */

body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background: #e9a896;
	font: 12px Geneva, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
	#wrap {
		width:950px;
		margin:0 auto;
		background: #fcfcfc;
	}
	#header {
    	padding:5px 10px;
		background: #e9a896;
	}
	#header h1 {
	    margin:0;
	color: maroon;
	font: small-caps bold 30px Georgia, "Times New Roman", Times, serif;
}
	#main {
		float:right;
		padding: 10px 10px 10px 30px;
			border-left: 3px solid #e9a896;
	width: 650px;
}

#sidebar ul {
	list-style-type: none;
}

#main h1 {
	text-decoration: underline;
	font-size: 18px;
	color: maroon;
}
	h2 {
		margin:0 0 1em;
	}
	#sidebar {
		float:left;
		width: 220px;
		padding:10px;
		background: #fcfcfc;
}
	#footer {
		clear:both;
		padding:5px 10px;
		background: #e9a896;
	}
	#footer p {
		margin:0;
    }
	* html #footer {
		height:1px;
	}

#error {
	font-weight: bold;
	color: red;
}
#notice {
	font-weight: bold;
	color: green;
}

table {
	font-size: 12px;
}

td {
	border-right: 2px solid #e3e3e3;
	padding-right: 3px;
	padding-left: 3px;
}